---
layout: default
permalink: /categories/
title: Categories
---

<div id="archives">
  <h2>{{ page.title }}</h2>
  <p>Posts belong to the following categories:</p>
  {% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>

    <h3 class="category-head">{{ category_name }}</h3><a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <ul class="archive-item">
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
    </ul>
    {% endfor %}
  </div>
  {% endfor %}
</div>
